.name{
    color:#49C4B2 ;
}
.btn1{
    border: 0;
     color: white;
     background-color: #49C4B2;
     border-radius: 0.3rem;
     box-shadow: inset 0 0 0 0 rgb(27, 27, 27);
     transition: ease-out 0.3s;
     text-decoration: none;
 }
 .btn1:hover{
  box-shadow: inset 13.25rem 0 0 0 rgb(27, 27, 27);
  color: white;
 }
